<select [(ngModel)]="yearSelected" (ngModelChange)="selectYear($event)" name="yearSelected">
  <option value="" selected disabled hidden>Año</option>
  <option *ngFor="let y of years" [value]="y">{{y}}</option>
</select>

<select [(ngModel)]="monthSelected" (ngModelChange)="selectMonth($event)" name="monthSelected">
  <option value="" selected disabled hidden>Mes</option>
  <option *ngFor="let m of months" [value]="m.id">{{m.name}}</option>
</select>

<!--  INICIO sección tabla -->
<table>
  <tr>
    <th>Canal</th>
    <th *ngFor="let w of firstAndLastDaysArray">
      <div *ngIf="w.firstDay !== w.lastDay">{{w.firstDay}} a {{w.lastDay}}</div>
      <div *ngIf="w.firstDay === w.lastDay">{{w.firstDay}}</div>
    </th>
  </tr>
  <tr>
    <td>Tv Nacional</td>
  </tr>
  <tr>
    <td>Radio Olimpica Bquilla</td>
  </tr>
  <tr>
    <td>Radio</td>
  </tr>
  <tr>
    <td>Digital</td>
  </tr>
  <tr>
    <td>P. Exterior CC Gran Estación</td>
  </tr>
  <tr>
    <td>P. Exterior Paraderos Corralazos</td>
  </tr>
  <tr>
    <td>P. Exterior</td>
  </tr>
  <tr>
    <td>Producción</td>
  </tr>
  <tr>
    <td>TV</td>
  </tr>
  <tr>
    <td>Tv Cable</td>
  </tr>
  <tr>
    <td>Video Digital</td>
  </tr>
</table>


<!--  FIN sección tabla -->