<select [(ngModel)]="yearSelected" (ngModelChange)="selectYear($event)" name="yearSelected">
  <option value="" selected disabled hidden>Año</option>
  <option *ngFor="let y of years" [value]="y">{{y}}</option>
</select>

<select [(ngModel)]="monthSelected" (ngModelChange)="selectMonth($event)" name="monthSelected">
  <option value="" selected disabled hidden>Mes</option>
  <option *ngFor="let m of months" [value]="m.id">{{m.name}}</option>
</select>

<!--  INICIO sección tabla -->
<table>
  <tr>
    <th>Canal</th>
    <th *ngFor="let w of firstAndLastDaysArray">
      <div *ngIf="w.firstDay !== w.lastDay">{{w.firstDay}} a {{w.lastDay}}</div>
      <div *ngIf="w.firstDay === w.lastDay">{{w.firstDay}}</div>
    </th>
  </tr>
  <tr *ngFor="let campaigns of campaignsFill">
    <td>{{campaigns.channel}}</td>
    <td [ngClass]="campaigns.weeks[i] === true ? 'isTrue' : 'isFalse'"  *ngFor="let w of firstAndLastDaysArray ; let i = index"></td>
  </tr>
</table>


<!--  FIN sección tabla -->